{% extends "base_generic.html" %}
    {% block content %}


    <div class = "container3">

            <p>
            Hexagon
        </p> 
            is a comprehensive online platform designed to streamline the process of<br>
            developing a business plan and a business model canvas for entrepreneurs across various sectors.<br>
            The platform employs state-of-the-art GPT-4 algorithms to guide users through <br>
            the process, ensuring simplicity and effectiveness.
                      
            

</div> 
    {%endblock content %}